In [17]:
import pandas as pd
import json
from datetime import date

In [5]:
with open('testData.json') as file:
    data = json.load(file)

In [7]:
columns = [x['name'] for x in data[0]['columnHeaders']]
rows = [x for x in data[0]['rows']]
df = pd.DataFrame(rows, columns = columns)

In [11]:
df['ga:date'] = pd.to_datetime(df['ga:date'], format = '%Y-%m-%d')
df['ga:date'] = pd.DatetimeIndex(df['ga:date']).normalize()

In [12]:
df.head()

     ga:date ga:dimension5 ga:dimension6 ga:sessions ga:transactionRevenue
0 2015-12-01         $0-29        Monday          17                 62.74
1 2015-12-01         $0-29        Sunday           1                  0.00
2 2015-12-01         $0-29      Thursday           1                  0.00
3 2015-12-01         $0-29       Tuesday        2298              16189.79
4 2015-12-01         $0-29     Wednesday          56                171.55

In [24]:
indices = data[0]['query']['dimensions']

In [25]:
df.set_index(indices, inplace=True)

In [26]:
print df.head()

                                       ga:sessions ga:transactionRevenue
ga:date    ga:dimension5 ga:dimension6
2015-12-01 $0-29         Monday                 17                 62.74
                         Sunday                  1                  0.00
                         Thursday                1                  0.00
                         Tuesday              2298              16189.79
                         Wednesday              56                171.55

In [27]:
s = df['ga:sessions']