In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
import matplotlib.pylab as plt

In [7]:
%matplotlib inline

In [8]:
from matplotlib.pylab import rcParams

In [9]:
rcParams['figure.figsize']= 15, 6

In [10]:
data = pd.read_csv('AirPassengers.csv')

In [11]:
print data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [12]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')

In [15]:
data = pd.read_csv('AirPassengers.csv',parse_dates=True, index_col='Month', date_parser=dateparse)

In [16]:
print data.head()

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121

In [17]:
data.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name=u'Month', length=144, freq=None)

In [18]:
from datetime import datetime

In [21]:
ts = data['#Passengers']

In [22]:
ts.head(10)

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
1949-06-01    135
1949-07-01    148
1949-08-01    148
1949-09-01    136
1949-10-01    119
Name: #Passengers, dtype: int64

In [23]:
ts['1949-01-01']

112